.stratum-card-wrap {
  position: absolute;
  top: 180px;
  right: 25px;
  .checkbox-wrap {
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;

  }
}
