<<<<<<< HEAD
.switch-wrap {
  z-index: 100;
  // position: absolute;
  right: 20px;
  width: 15%;
  height: 95%;
}
=======
.switch-wrap {
  z-index: 100;
  // position: absolute;
  right: 20px;
  width: 15%;
  height: 95%;
}
>>>>>>> e351d025d9b6cb08cd80bc569f2ae03000f61cde
